.pt_activity_box {
	border: 1px solid;
	border-color: #E0E0E0;
}

table tr:nth-of-type(even) {
	background-color: rgba(200,200,200,0.14);
}

.pt_activity_box + .pt_activity_box {
	border-top:0 ;
}

.pt_current_activity{
	margin-bottom: 1em;
	margin-left:0;
}

.pt_day_plan_select{
	border: 1px solid;
	border-color: #E0E0E0;
}
.pt_table_day_plan{
	margin-bottom: 1em;
}

.pt_day_plan_select + .pt_day_plan_select {
	border-top:0 ;
}

.pt_day_plan_remove{
	border: 1px solid;
	border-color: #E0E0E0;
}

.pt_day_plan_remove + .pt_day_plan_remove{
	border-top:0 ;
}

body {
	overflow: inherit;
	background-color: white;
	padding-top: 60px;
}

.well.o_color {
	font-size: 1.5em;
	background-color: #a24689;
}
.pt_navbar{
	font-size: 1.5em;
	background-color: #a24689;
}
.pt_navbar a{
	color: white;
}

div a:focus{
	outline: none;
}

.pt_navbar_element{
	line-height: 50px;
}
.pt_navbar_element .fa{
	line-height: 50px;
}

.well a{
	color: white;
}

a.btn.pt_btn{
	background-color: #a24689;
	color: white;	
}

span.pt_project{
	font-weight: bold;
}
span.pt_bold{
	font-weight: bold;
}

.pt_timer_clock{
	text-align: center;
	vertical-align: middle;
}

div.pt_activities_list td.pt_duration{
	vertical-align: middle;
	text-align: center;
}
div.pt_activities_list td.pt_plus_or_minus{
	vertical-align: middle;
	text-align: center;
	font-size:  1.5em;
}
.pt_duration_color_fill{
	background-color: #a24689;
	color:white;
}

.pt_start_planned_task{
	background-color: #a24689;
	color:white;	
}

table.pt_day_plan_table tr:hover{
	background-color: #E0E0E0;	
}

.pt_drawer_menu_zone{
	z-index: 9999;
	position:fixed;
	bottom: 0
	top:40px;
	width:200%;
	left:-200%;
	overflow: hidden;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
}

.pt_drawer_picture img{
	max-width:100%;
	max-height:100%;
}

.pt_drawer_menu{
	float: left;
	width: 33%;
	height: inherit;
	background-color: white;
}

.row.pt_menu_item{
	font-size: 1.25em;
}
.row.pt_menu_item:hover{
	background-color: rgba(200,200,200,0.14);
}

.row.pt_drawer_picture{
	height: 20%
}