
/* ###### Chat View : Skeleton ######*/
.o_im_chatview {
    position: fixed;
    overflow: hidden;
    background: rgba(250, 250, 250, 0.95);
    width: 240px;
    z-index:500;

    margin-bottom: 5px;
    margin-right: 6px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.3), 0 2px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);

    color: #4c4c4c;
    font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif;
    font-size: 13px;
}

/* ####### Chat View : Header ####### */
.o_im_chatview_header {
    padding: 3px 6px 2px;
    background: #DEDEDE;
    background: -moz-linear-gradient(#FCFCFC, #DEDEDE);
    background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#DEDEDE));
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #AEB9BD;
    cursor: pointer;
}

.o_im_chatview_header .header_name{
    max-width: 75%;
    word-wrap: break-word;
    display: inline-block;
    height: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.o_im_chatview_header .right_buttons {
    float: right;
}
.o_im_chatview_header .right_buttons > * {
    display: inline-block;
    border: 0;
    cursor: pointer;
    color: gray ;
    background: transparent;
    font-size: 16px;
    line-height: 16px;
    margin-left: 5px;
    -webkit-appearance: none;
}

.o_im_chatview_header .right_buttons .dropdown-menu{
    right: 0;
    left: auto;
}
.o_im_chatview_header .right_buttons .dropdown-menu > li{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #4c4c4c;
    white-space: nowrap;
}

/* ###### Chat View : Content ######*/
.o_im_chatview_content {
    overflow: auto;
    height: 287px;
    width: 240px;
}

/* ####### Chat View : Footer ####### */
.o_im_chatview_footer {
    position: relative;
    padding: 3px;
    border-top: 1px solid #AEB9BD;
    background: #DEDEDE;
    background: -moz-linear-gradient(#FCFCFC, #DEDEDE);
    background: -webkit-gradient(linear, left top, left bottom, from(#FCFCFC), to(#DEDEDE));
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
.o_im_chatview_footer .o_im_chat_input {
    width: 222px;
    padding: 1px 5px;
    border: 1px solid #AEB9BD;
    border-radius: 3px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: Lato, Helvetica, sans-serif;
}

/* ####### Chat View : Messages ####### */
.o_im_chatview .container_history{
    color: #DBDADA;
    text-align: center;
}
.o_im_chatview .container_history > span:hover{
    color: white;
    cursor: pointer;
}

.o_im_chatview_content .container_messages {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.o_im_chatview_content .container_messages .col-md-2,
.o_im_chatview_content .container_messages .col-md-10 {
    padding:0; // important
}

/* separator */
.o_im_chatview_content .container_messages .date_separator {
    margin-top: 10px;
}
.o_im_chatview_content .container_messages .hour_separator {
    color: #DBDADA;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: -7px;
    padding-right: 10px;
}
/* message container */
.o_im_chatview_content .container_messages .msg_receive{
    padding-left:0;
    margin-left:0;
    background: white;
}
.o_im_chatview_content .container_messages .msg_sent{
    margin-right:0;
    background: rgb(219, 231, 241);
}
.o_im_chatview_content .container_messages .message_container {
    padding: 5px 10px;
    overflow: hidden;
    display: flex;
}
/* message bubble content */
.o_im_chatview_content .container_messages .message_content {
    //background: white;
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width:100%;
    min-height: 35px;
    vertical-align: middle;
}
.o_im_chatview_content .container_messages .message_content > p {
    font-size: 13px;
    margin: 3px 0 4px 0;
    word-break: break-all;
    line-height: 11px;
}
.o_im_chatview_content .container_messages .message_content > div.message_infos {
    font-size: 10px;
}
/* Smiley size */
.o_im_chatview_content .container_messages .message_content > img{
    width: 18px;
}
/* avatars */
.o_im_chatview_content .container_messages img {
    display: block;
    background-color: white;
    width: 100%;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.o_im_chatview_content .container_messages .avatar {
    position: relative;
}
.o_im_chatview_content .container_messages .base_receive > .avatar {
    padding-right: 5px;
}
.o_im_chatview_content .container_messages .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.o_im_chatview_content .container_messages .base_sent > .avatar {
    padding-left: 5px;
}
.o_im_chatview_content .container_messages .msg_sent > div.message_infos{
    //float: right;
    text-align: right;
}
