
.o_im_chat_sidebar {
    position: fixed;
    background-color: #E8EBEF;
    width: 220px;
    border-left: 1px solid #AEB9BD;
    z-index: 500;
}

/* Components of the sidebar */

.o_im_chat_sidebar .o_im_chat_search{
    padding: 5px;
}

.o_im_chat_sidebar .o_im_chat_users {
    height: 100%;
    overflow-y: scroll;
}

/* User card widget */

.o_im_chat_sidebar .o_im_chat_user_card{
    position: relative;
    padding: 5px;
    cursor: pointer;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.o_im_chat_sidebar .o_im_chat_user_card:hover{
  background: lightGrey;
}

.o_im_chat_sidebar .o_im_chat_user_card .o_im_chat_avatar {
    width: 30px;
    height: auto;
    vertical-align: middle;
    -moz-box-shadow: 0 0 2px 1px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.25);
}

.o_im_chat_sidebar .o_im_chat_user_card .o_im_chat_user_name {
    position: relative;
    width:90%;
    max-height:40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.o_im_chat_sidebar .o_im_chat_user_card .o_im_chat_status{
    display: none;
    width: 12px;
    height: 12px;
    top: 10%;
}

/* Top Menu Button */
.oe_systray #oe_topbar_imbutton_icon {
    color: white;
}
.oe_topbar_item.oe_topbar_imbutton .fa {
    position: relative;
    top: -8px;
}

@media print {
    .oe_im, .oe_im_chatview {
        visibility: hidden;
    }
}
