<!DOCTYPE html>
<html style="height: 100%">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Odoo</title>
    <link rel="shortcut icon" href="/web/static/src/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/web/static/src/css/full.css">
    <link rel="stylesheet" href="/web/static/lib/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/web/static/lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/web/static/src/css/base.css">
    <script src="/web/static/lib/jquery/jquery.js" type="text/javascript"></script>
    <script src="/web/static/lib/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('.modal-pwd-admin').on('show.bs.modal', function(event){
                var db = $(event.relatedTarget).data('db');
                var action = $(event.relatedTarget).data('action');
                $(this).find('#db').val(db);
                if(action === "drop"){
                    $(this).find('.modal-pwd-admin-title').text("Drop the database");       
                    $(this).find('#form-pwd-admin').attr('action','/web/database/drop');
                }
            });
        });
    </script>
<body class="oe_single_form">

    <div class="oe_single_form_container modal-content">

        <form class="oe_dbselector_form" id="dbselector" role="form" action="/web" method="get">
            <div class="oe_single_form_logo">
                <img src="/web/static/src/img/logo2.png"/>
            </div>

            <hr/>

            <div class="form-group field-db">
                <label for="db" class="control-label">Manage database</label>
                {% if databases %}
                    <ul class="list-group">
                        {% for db in databases %}
                            <li class="list-group-item">
                                <span>{{ db }}</span>
                                <div class="pull-right">
                                    <a href="/web?db={{ db }}">
                                        <i class="fa fa-sign-in fa-fw"></i>
                                    </a>
                                    <a href="#" data-toggle="modal" data-target=".modal-pwd-admin" data-action="drop" data-db="{{ db }}">
                                        <i class="fa fa-trash fa-fw"></i> 
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <input type="text" name="db" id="db" class="form-control" required="required" autofocus="autofocus"/>
                {% endif %}
            </div>

            {% if debug %}
                <input type="hidden" name="debug" value=""/>
            {% endif %}

            <noscript>
                <hr/>
                <input type="submit" value="Continue" class="btn btn-primary pull-right"/>
            </noscript>

            <div class="oe_single_form_footer">
                <a class="oe_login_manage_db" href="/web/database/manager_old{% if debug %}?debug{% endif %}">Manage Databases</a>
                <a href="http://www.openerp.com" target="_blank">Powered by <span>OpenERP</span></a>
            </div>
        </form>

    </div>


<!-- Modal -->
<div class="modal fade modal-pwd-admin" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-pwd-admin-title"></h4>
      </div>
      <form style="margin:10px;" id="form-pwd-admin" role="form" action="" method="post">
      <div class="modal-body">
            <div class="form-group">
                <label for="database" class="control-label">Database</label>
                <input type="text" name="db" id="db" class="form-control" required="required" readonly/>
            </div>
            <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <input type="password" name="pwd" id="pwd" class="form-control" required="required" autofocus="autofocus"/>
            </div>
      </div>
      <div class="modal-footer">
        <input type="submit" value="Continue" class="btn btn-primary pull-right"/>
      </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>

